@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="Blog">

    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- SLIDE 1 -->
            <div class="carousel-item active" style="background-image: url('../images/slider-2.jpg');">
                <div class="carousel-caption text-white">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="~/images/header-logo.png" alt="Logo" height="70">
                        <span class="carousel-span mt-3">The UK Board For Learning and Training</span>
                    </div>
                    <h1>Executive MBA Programs</h1>
                    <p>Empowering leaders to drive innovation and growth.</p>
                    <a href="index.html#services" aria-label="Know more services" class="btn">Know More</a>
                </div>

                <!-- INFO BOXES -->
                <div class=" info-boxes container-fluid text-white">
                    <div class="row g-2">
                        <div class="col-6 col-md-4">
                            <div class="info-box box1">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-user-graduate" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Expert Faculty</h2>
                                        <p>Learn from qualified educators and industry professionals dedicated to your success.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="info-box box2">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-laptop-code" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Flexible Learning</h2>
                                        <p>Study at your own pace through modern online platforms and blended programs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="info-box box3">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-handshake" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Career Support</h2>
                                        <p>Access career guidance, internships, and job placement opportunities worldwide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../images/slider-1.jpg');">
                <div class="carousel-caption text-white">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="~/images/header-logo.png" alt="Logo" height="70">
                        <span class="carousel-span mt-3">The UK Board For Learning and Training</span>
                    </div>
                    <h1>International Certifications</h1>
                    <p>Achieve globally recognized credentials to boost your career.</p>
                    <a href="index.html#services" aria-label="Know more services" class="btn">Know More</a>
                </div>

                <div class=" info-boxes container-fluid text-white">
                    <div class="row g-2">
                        <div class="col-6 col-md-4">
                            <div class="info-box box1">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-user-graduate" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Expert Faculty</h2>
                                        <p>Learn from qualified educators and industry professionals dedicated to your success.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="info-box box2">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-laptop-code" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Flexible Learning</h2>
                                        <p>Study at your own pace through modern online platforms and blended programs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="info-box box3">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-handshake" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Career Support</h2>
                                        <p>Access career guidance, internships, and job placement opportunities worldwide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../images/slider-3.jpg');">
                <div class="carousel-caption text-white">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="~/images/header-logo.png" alt="Logo" height="70">
                        <span class="carousel-span mt-3">The UK Board For Learning and Training</span>
                    </div>
                    <h1>Continuing Education</h1>
                    <p>Expand your skills with flexible and practical learning paths.</p>
                    <a href="index.html#services" aria-label="Know more services" class="btn">Know More</a>

                </div>

                <div class=" info-boxes container-fluid text-white">
                    <div class="row g-2">
                        <div class="col-6 col-md-4">
                            <div class="info-box box1">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-user-graduate" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Expert Faculty</h2>
                                        <p>Learn from qualified educators and industry professionals dedicated to your success.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="info-box box2">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-laptop-code" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Flexible Learning</h2>
                                        <p>Study at your own pace through modern online platforms and blended programs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="info-box box3">
                                <div class="overlay">
                                    <div class="icon">
                                        <i class="fas fa-handshake" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <h2 class="h5">Career Support</h2>
                                        <p>Access career guidance, internships, and job placement opportunities worldwide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev"
                aria-label="slider prev button" aria-expanded="false">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next"
                aria-label="slider next button" aria-expanded="false">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>


</header>
<main>
    <section class="py-5 bg-light blog" id="blog">
        <div class="container">
            <div class="text-center mb-5" data-aos="fade-up" data-aos-delay="100">
                <span class="blog-badge">News & Blogs</span>
                <h2 class="text-center mb-5 title fst-italic">Latest News Updates</h2>
            </div>
            <div class="row g-4">

                <!-- CARD 1 -->
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="position-relative">
                            <img src="~/images/blog-1.jpg" class="card-img-top" alt="blog">
                            <span class="badge position-absolute top-0 end-0 px-3 py-1">Insights</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold lh-base">
                                Why Dunkin’s Revamped Rewards Program Has Angered So Many
                                Customers
                            </h5>
                            <p class="card-text text-muted mt-4">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur
                            </p>
                        </div>
                        <div class="card-footer bg-white pt-0">
                            <small class="text-muted d-inline-block py-3">November 2, 2022</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="position-relative">
                            <img src="~/images/blog-1.jpg" class="card-img-top" alt="blog">
                            <span class="badge position-absolute top-0 end-0 px-3 py-1">Insights</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold lh-base">
                                Why Dunkin’s Revamped Rewards Program Has Angered So Many
                                Customers
                            </h5>
                            <p class="card-text text-muted mt-4">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur
                            </p>
                        </div>
                        <div class="card-footer bg-white pt-0">
                            <small class="text-muted d-inline-block py-3">November 2, 2022</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="position-relative">
                            <img src="~/images/blog-1.jpg" class="card-img-top" alt="blog">
                            <span class="badge position-absolute top-0 end-0 px-3 py-1">Insights</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold lh-base">
                                Why Dunkin’s Revamped Rewards Program Has Angered So Many
                                Customers
                            </h5>
                            <p class="card-text text-muted mt-4">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur
                            </p>
                        </div>
                        <div class="card-footer bg-white pt-0">
                            <small class="text-muted d-inline-block py-3">November 2, 2022</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
